header
  .header__container
    .header__icon__box
      img.header__icon(src="../img/taro.png", alt="山田太郎のアイコン")
    .header__text__box
      h1.header__name 山田太郎
      p.header__text UI/UXデザイナー見習いです
      ul.header__icon__link
        li
          a(href="#")
            img.blog__icon(src="../img/blog.png", alt="ブログのアイコン")
        li
          a(href="#")
            img.photo__icon(src="../img/photos.png", alt="カメラのアイコン")
